.create-bounty-button {
  position: fixed;
  bottom: 50px;
  right: 13px;
  padding: 14px 24px;
  background-color: #05481d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.create-bounty-button:hover {
  background-color: #337237;
}

.no-bounties {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
  padding: 20px;
  color: #374151;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.no-bounties-img {
  max-width: 100px;
  height: auto;
  margin-bottom: 24px;
  opacity: 0.8;
}